html, body {
    font-size: 12px;
    color: #000;
    font-family: sans-serif, serif;
    background-image: url('images/background\ hearts.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: auto;
}

/* White Background Section */

section {
    background-color: #fff;
    width: 70%;
    height: 70%;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    position: absolute;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: #DC0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;     
}

/* Love Calculator */

.love-calc {
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    margin-top: 5px;
}

.name {
    font-size: 20px;
}

#yourName, #crushName {
    margin: 12px;
    height: auto;
}

.button {
    border-radius: 10%;
    border-width: 0;
    background-color: #DC0000;
    color: #fff;
    font-weight: bold;
    margin: 15px 35px 0;
    padding: 13px;
}

.button:hover {
    background-color: #FF5F9E;
}

#message {
    font-size: 20px;
    color: #DC0000;
    width: 35vw;
    position: absolute;
    left: 25%;
    margin: 20px;
}

/* Beating Hearts */

.heart1 {
    width: 8rem;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
    animation: beat 1s infinite;
}

.heart2 {
    width: 8rem;
    height: auto;
    top: 0;
    right: 0;
    position: absolute;
    animation: beat 1s infinite;
}

.heart3 {
    width: 8rem;
    height: auto;
    bottom: 0;
    left: 0;
    position: absolute;
    animation: beat 1s infinite;
}

.heart4 {
    width: 8rem;
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;
    animation: beat 1s infinite;
}
 
@keyframes beat {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}


/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 599px) {
    body {
        background-image: url(images/tunnel-of-love.jpg);
    }

    section {
        background-color: #FFD56F;
    }

    h1 {
        font-size: 25px;
        padding-top: 20px;
        color: #3D1766;
        width: auto;
    }

    .heart1, .heart2, .heart3, .heart4 {
        width: 6rem;
        height: auto;
    }

    .name {
        font-size: 15px;
    }

    .button {
        background-color: #3D1766;
        margin: 15px 30px 0;
        padding: 10px;
    }

    .button:hover {
        background-color: #DC0000;
        color: #fff;
    }

    #message {
        font-size: 15px;
        color: #DC0000;
        width: 200px;
        position: absolute;
        left: 20%;
        margin-top: 20px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 600px) and (max-width: 767px) {
    body {
        background-image: url(images/roses.jpg);
    }

    section {
        background-color: #fff;
    }

    h1 {
        font-size: 28px;
        padding-top: 25px;
        color: #E80F88;
    }

    .heart1, .heart2, .heart3, .heart4 {
        width: 4rem;
    }

    .name {
        font-size: 15px;
    }

    .button {
        background-color: #E80F88;
        margin: 15px 30px 0;
        padding: 13px;
    }

    .button:hover {
       background-color: #DC0000;
       color: #fff;
    }

    #message {
        font-size: 15px;
        color: #DC0000;
        width: 200px;
        position: absolute;
        left: 25%;
        margin-top: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 40px;
        padding-top: 30px;
    }

    .name {
        font-size: 20px;
    }

    .heart1, .heart2, .heart3, .heart4 {
        width: 6rem;
    }

    .button {
        margin: 20px 30px 0;
    }

    #message {
        font-size: 20px;
        width: 300px;
        position: absolute;
        left: 25%;
        margin: 30px 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    body {
        background-image: url(images/background\ hearts.jpg);
    }
    
    h1 {
        font-size: 60px;
        color: #DC0000;
    }

    .name {
        font-size: 25px;
    }

    .heart1, .heart2, .heart3, .heart4 {
        width: 12rem;
    }

    .button {
        margin: 25px 45px 0;
        background-color: #DC0000;
    }

    .button:hover {
        background-color: #FF5F9E;
    }

    #message {
        font-size: 25px;
        margin-top: 40px;
        color: #DC0000;
        width: 500px;
        left: 25%;
    }
}