body {
    font-size: 12px;
    color: #000;
    font-family: sans-serif, serif;
    background-image: url('images/background\ hearts.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative; 
}

/* White Background Section */

section {
    background-color: #fff;
    width: 70vw;
    height: 70vh;
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
    position: absolute;
    display: grid;
    justify-content: center;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    color: #DC0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;     
}

/* Love Calculator */

.container {
    text-align: center;
    position: relative;
    display: grid;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    margin-top: 5px;
}  

#yourName, #crushName {
    margin: 12px;
    height: auto;
    font-size: 20px;
}

.button {
    border-radius: 10%;
    border-width: 0;
    background-color: #DC0000;
    color: #fff;
    font-weight: bold;
    margin: 15px 35px 0;
    padding: 13px;
}

.button:hover {
    background-color: #FF5F9E;
}

#message {
    font-size: 20px;
    color: #DC0000;
    width: 35vw;
    position: absolute;
}

/* Beating Hearts */

.heart1 {
    width: 8rem;
    height: auto;
    top: 0;
    left: 0;
    position: absolute;
    animation: beat 1s infinite;
}

.heart2 {
    width: 8rem;
    height: auto;
    top: 0;
    right: 0;
    position: absolute;
    animation: beat 1s infinite;
}

.heart3 {
    width: 8rem;
    height: auto;
    bottom: 0;
    left: 0;
    position: absolute;
    animation: beat 1s infinite;
}

.heart4 {
    width: 8rem;
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;
    animation: beat 1s infinite;
}
 
@keyframes beat {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(1.2);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

/* Extra small devices (phones, 600px and down)

@media screen and (max-width: 600px) {
    body {
        background-image: url(images/tunnel-of-love.jpg);
    }

    section {
        background-color: #FFD56F;
    }

    h1 {
        font-size: 28px;
        padding-top: 0;
        color: #3D1766;
        width: auto;
    }

    .heart1, .heart2, .heart3, .heart4 {
        width: 3rem;
    }

    .container .button {
        background-color: #3D1766;
        font-size: 10px;
        margin: 5px 10px 0;
        padding: 5px
    }

    .button:hover {
        background-color: #DC0000;
        color: #fff;
    }

    #message {
        font-size: 15px;
        color: #DC0000;
        width: 200px;
        position: absolute;
        left: 20%;
        margin-top: 15px;
        text-align: center;
    }
}

/* Mobile device landscape */

@media screen and (max-height: 468px) and (min-aspect-ratio: 7/4) {
    body {
        background-image: url(images/tunnel-of-love.jpg);
    }

    section {
        background-color: #FFD56F;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 600px) {
    body {
        background-image: url(images/roses.jpg);
    }

    section {
        background-color: #fff;
    }

    h1 {
        font-size: 28px;
        padding-top: 0;
        color: #E80F88;
    }

    .heart1, .heart2, .heart3, .heart4 {
        width: 3rem;
    }

    .love-calc {
        font-size: 15px;
    }

    .button {
        background-color: #E80F88;
        margin: 5px 10px 0;
        padding: 5px;
    }

    .button:hover {
       background-color: #DC0000;
       color: #fff;
    }

    #message {
        font-size: 15px;
        color: #DC0000;
        width: 200px;
        position: absolute;
        left: 20%;
        margin-top: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) {
    h1 {
        font-size: 30px;
        padding-top: 3px;
    }

    .love-calc {
        font-size: 15px;
    }

    .heart1, .heart2, .heart3, .heart4 {
        width: 4rem;
    }

    .button {
        margin: 5px 15px 0;
        padding: 5px;
    }

    #message {
        font-size: 15px;
        width: 300px;
        position: absolute;
        left: 20%;
        margin: 20px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    /* .container {
        padding: 5px 0;
        height: auto;
    }

    h1 {
        margin: 5px;
    }

    .love-calc {
        font-size: 15px;
    }

    .button {
        font-size: 18px;
        color: #DC0000;
        width: 35vw;
        position: absolute;
        margin: 20px;
    }


    } */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* 
@media only screen and (min-width: 1200px) {
    body {
        background-image: url(images/background\ hearts.jpg);
    }

    h1 {
        font-size: 40px;
        color: #DC0000;
        margin: 18px;
    }

    .love-calc {
        font-size: 20px;
        margin-top: 0;
    }

    #yourName, #crushsName {
        margin-top: 15px;
    }

    .heart1, .heart2, .heart3, .heart4 {
        width: 6rem;
    }

    .button {
        margin: 10px 45px 0;
        background-color: #DC0000;
        padding: 10px;
    }

    .button:hover {
        background-color: #FF5F9E;
    }

    #message {
        font-size: 20px;
        margin-top: 25px;
        color: #DC0000;
        width: 500px;
        left: 20%;
    }
} */ 